---
import Layout from '../layout/Layout.astro';
export function getStaticPaths() {
  return [
    {params: {cat: 'fragrances'}},
    {params: {cat: 'rover'}},
    {params: {cat: 'spot'}},
  ];
}

const { cat } = Astro.params;
---
<Layout>
	<h3 class="text-center py-4">Categorias {cat}</h3>
</Layout>
