---
import Carrusel from '../components/Carrusel.astro';
import Layout from '../layout/Layout.astro';
import HeroInicio from '../components/HeroInicio.astro';
---
<Layout>
	
	<Carrusel/>
	<h2 class="text-center py-5">Proyecto final de Astro</h2>
	<HeroInicio/>
	
</Layout>
