<div class="container">
    
    <div class="row">
        <div class="col-md-6">
           
            <p><span class="fw-bold h4">Astro es un popular generador de sitios estáticos, </span> que permite crear sitios web ricos en contenido que se ejecutan de manera rápida y fluida. Es conocido por su naturaleza ligera, su estructura intuitiva y su curva de aprendizaje suave, lo que lo hace atractivo para desarrolladores de todos los niveles de experiencia. Aunque tiene un tamaño pequeño, Astro cuenta con herramientas poderosas que aumentan drásticamente la flexibilidad de tus sitios, ahorrándote horas en la gestión de contenido y temas.</p>
            <p>Astro es un framework potente que admite tanto la generación de sitios estáticos (SSG) como el renderizado del lado del servidor (SSR).</p>
            <div class="text-center py-3">
                 <a href="https://astro.build/" target="_blank" class="btn btn-outline-success">Ir a la web oficial de Astro </a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="heroinicio01.jpg" alt="" class="img-fluid img-thumbnail">  
        </div>
    </div>
    <hr class="my-5"/>
    <div class="row">
        <div class="col-md-6 order-2">
            <p><span class="fw-bold h4">DummyJSON es una herramienta que proporciona una API REST falsa de datos JSON</span> para el desarrollo, pruebas y prototipos. Con DummyJSON, puedes obtener rápidamente datos realistas para tus proyectos de front-end sin tener que configurar un servidor complicado. Es perfecto para el desarrollo de front-end, la enseñanza, las pruebas y la creación de prototipos. Puedes explorar la documentación detallada en DummyJSON/Docs para obtener ejemplos rápidos.</p>
            <div class="text-center py-3">
                 <a href="https://dummyjson.com/" target="_blank" class="btn btn-outline-info">Ir a la web oficial de DummyJSON </a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="heroinicio02.jpg" alt="" class="img-fluid img-thumbnail">  
        </div>
    </div>
    <hr class="my-5"/>
    <div class="row">
        <div class="col-md-6 ">
            <p><span class="fw-bold h4">Bootstrap es un framework de desarrollo web gratuito y de código abierto que facilita el proceso de creación de sitios web responsivos y orientados a dispositivos móviles. </span> Proporciona una colección de sintaxis para diseños de plantillas y estilos para una amplia variedad de componentes y elementos de interfaz. Bootstrap es ampliamente utilizado debido a su facilidad de uso, su estructura de archivos sencilla y su capacidad para adaptarse a diferentes tamaños de pantalla. Permite a los desarrolladores y diseñadores web crear sitios web de manera eficiente y garantiza que los elementos de la interfaz funcionen de manera óptima en todos los dispositivos.</p>
            <div class="text-center py-3">
                 <a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank" class="btn btn-outline-warning">Ir a la web oficial de Bootstrap </a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="heroinicio03.jpg" alt="" class="img-fluid img-thumbnail">  
        </div>
    </div>
  
</div>